include README.md
include LICENSE
include CONTRIBUTING.md
include requirements.txt
include mac-vendors.json
recursive-include src *.py
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[cod]
